<!--Footer Wrap Start-->
<footer class="kf_footer_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_contact">
                    <div class="kf_footer_logo">
                        <a href="#"><img src="~/images/logo.png" alt="" style="width: 91px; margin-left: 0;"></a>
                    </div>
                    <ul class="kf_foo_address">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>@*<a href="tel:0466533377">04.665.333.77</a> &*@ <a href="tel:0979.776.427">0979.776.427</a></span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:vnnvh80@gmail.com">vnnvh80@gmail.com.</a>
                        </li>
                        @*<li>
                            <i class="fa fa-map-marker"></i>
                            <span>Số 1 Ngõ 78 Duy Tân, Dịch Vọng, Cầu Giấy, Hà Nội</span>
                        </li>*@
                    </ul>                    
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="kf_foo_latest_wrap widget">
                    @*<h6>Các chuyến xe taxi nội bài</h6>
                    <ul>
                        <li>
                            <a href="#">Chuyến 1</a>
                        </li>
                        <li>
                            <a href="#">Chuyến 1</a>
                        </li>
                        <li>
                            <a href="#">Chuyến 1</a>
                        </li>
                        <li>
                            <a href="#">Chuyến 1</a>
                        </li>
                    </ul>*@
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_contact widget">
                    <h6 style="font-size: 16px;">Mọi thắc mắc xin vui lòng liên hệ</h6>
                    <ul>
                        <li><a href="tel:0964108668">Số điện thoại hotline: <span style="float: right;">(84) 0979.776.427</span></a></li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-skype"></i> Giải đáp thắc mắc của bạn 24/7</a>
                        </li>
                    </ul>
                    <ul class="kf_foo_social_icon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<!--Footer Widget Wrap End-->

<div class="kf_copy_right">
    <div class="container">
        <div class="kf_copyright_element">
            <ul>
                <li>&copy; 2016 phát triển bởi <a href="marketingol.net">Minh Việt.</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="totop">
    <span class="fa fa-3x fa-angle-up" style="color: #d05127;"></span>
</div>