<!--Footer Content Start-->
<footer class="cp-footer" id="cp-footer_v2">
    
    <!--Footer Bottom Section Start-->
    <section class="cp-ft-bottom-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2">

                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <!--Widget Start-->
                            <div class="widget widget-about">
                                <h3>Liên Kết</h3>
                                <ul class="cp-social-links">
                                    <li><a href="https://www.facebook.com/lopxe2banh/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                                <p><span>HotLine:<a href="tel:0937451888" style="color:yellow;">0937.451.888</a>-<a href="tel:0983297252" style="color:whitesmoke;">0983.297.252</a></span></p>
                                <p><span>Địa chỉ 1: 30 Đại Cồ Việt - P. Lê Đại Hành - Q. Hai Bà Trưng - Hà Nội</span></p>
                                <p><span>Địa chỉ 2: 642 Kim Giang, Q Thanh Xuân, Hà Nội</span></p>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <!--Widget Start-->
                            <div class="widget widget-search">
                                <h4 style="color:#ffffff;">
                                    THANH TOÁN ĐIỆN TỬ (PAYMENT)
                                    Số Tài Khoản Vietcombank: 0011000497108  - Mở Tại VCB Hà Nội <br />
                                    hoặc Số Tài Khoản BIDV: 12010006123653 – Mở Tại: Ngân Hàng BIDV Sở Giao Dịch 1<br />
                                    Người Thụ Hưởng: Hoàng Tuân
                                </h4>
                                <h3>Chúng tôi sẽ liên hệ</h3>
                                <form method="post">
                                    <input type="text" placeholder="Điền địa chỉ email">
                                    <button class="btn-submit" type="submit">Nhận báo giá rẻ nhất</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Footer Bottom Section End-->
    <!--Footer Copyright Row Start-->
    <div class="cp-copyright-row">
        <div class="container">
            <p>Copyright © 2016 PHỤ TÙNG HOÀNG GIA . All rights reserved. </p>
        </div>
    </div><!--CopyRight Row End-->

</footer><!--Footer Content End-->