<!-- Header Start -->
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
<style>
    #cp-slide-menu2 a{
        font-size:9px;
    }
</style>
<header class="cp-header" id="cp_header-v2" style="background:#f7f7f7;">
    <div id="cp-slide-menu" class="cp_side-navigation">
        <div class="col-md-12 navbar-nav" id="cp-slide-menu2" style="overflow-x: scroll;">
            <div class="col-md-12"><li id="close"><a href="#"><i class="fa fa-close"></i></a></li></div>
            <div class="col-md-12"><a href="/">Trang Chủ</a></div>
            <div class="col-md-12"><a href="/gioi-thieu">Giới Thiệu</a></div>
            <div class="col-md-12"><a href="/dich-vu">Dịch Vụ </a></div>
            <div class="col-md-12" id="productsmenu" onclick="showtreeproduct();" style="cursor:pointer;">
                <a >Sản Phẩm <i class="fa fa-angle-down"></i></a>
                @*@Html.Raw(tbcng.Helpers.configs.getAllMenu(0))*@
                <div class="col-md-12" id="productsmenuchild" style="display:none;overflow-y:auto; min-height:150px;">@Html.Raw(tbcng.Helpers.configs.getAllMenu(1))</div>
                @*<div class="panel-group" id="productsmenuchild" style="display:none;overflow-y:auto; height:450px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse1">Collapsible panel <span class="caret"></span></a>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body" style="color:#000;font-size:10px;">Panel Body 1</div>
                            <div class="panel-body"><a data-toggle="collapse" href="#collapse2" style="color:#000;font-size:10px;">Panel Body 22 <span class="caret"></span></a></div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body" style="color:#000;font-size:10px;">Panel Body 222</div>
                                <div class="panel-body" style="color:#000;font-size:10px;">Panel Body 2222222</div>
                            </div>
                            <div class="panel-body">Panel Footer</div>
                        </div>
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse2">Collapsible panel 2222</a>
                        </div>
                    </div>
                </div>*@ 
                @*<ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">HTML</a></li>
                    <li><a tabindex="-1" href="#">CSS</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li class="dropdown-submenu">
                                <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>*@
            </div>            
            <div class="col-md-12"><a href="/lien-he" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liên hệ </a></div>
        </div>
         
    </div>
    
    <!-- Navigation Row Start -->
    <div class="cp-navigation-row">
        <div class="container">
            <div class="cp-sidemenu-btn">
                <div id="push" class="cp-sidemenu"><a href="#"><i class="fa fa-align-justify"></i></a></div>
            </div>
            <div class="cp-nav-holder">
                <strong class="cp-logo">
                    <a href="/"><img src="/Content/themes/pthg/images/cp-logo2.png" alt=""></a>
                </strong>
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li >
                                <a href="/" >Trang chủ</a>
                            </li>
                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                            <li >
                                <a href="/dich-vu" >Dịch vụ </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sản phẩm <i class="fa fa-angle-down"></i></a>
                                @Html.Raw(tbcng.Helpers.configs.getAllMenu(0))
                                @*<ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a href="/san-pham" >Lốp <i class="fa fa-angle-down"></i></a>
                                        <a href="/san-pham" >&nbsp Lốp 1 <i class="fa fa-angle-down"></i></a>
                                        <a href="/san-pham" >&nbsp Lốp 2 <i class="fa fa-angle-down"></i></a>
                                        <a href="/san-pham" >&nbsp &nbsp Lốp 21 <i class="fa fa-angle-down"></i></a>
                                        <a href="/san-pham" >&nbsp Lốp 3 <i class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/san-pham" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Dầu <i class="fa fa-angle-down"></i></a>
                                        <ul class="nav navbar-nav">
                                            <li><a href="/san-pham" style="color:black;">d 1 </a></li>
                                            <li><a href="/san-pham" style="color:black;">d 2 </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Danh mục 1</a></li>
                                </ul>*@
                            </li>
                            @*<li class="dropdown">
                                <a href="/tin-tuc" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tin tức <i class="fa fa-angle-down"></i></a>
                            </li>*@
                            <li class="dropdown">
                                <a href="/lien-he" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liên hệ </a>
                            </li>

                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <!--Nav Right Holder Start-->
                <div class="cp-nav-right">
                    @{Html.RenderAction("LoadCart", "Products");}
                    @*<ul>
                        <li class="cp-cart-holder">
                            <span class="icon-shopping-cart icomoon"></span>
                            <span class="cart-item">2</span>
                            <div class="cp-cart-inner">
                                <ul class="cart-listed" id="cart-listed">
                                    <li>
                                        <img src="images/cart-img.jpg" alt="">
                                        <div class="cart-text">
                                            <strong>Primis in faucibus</strong>
                                            <span>1 x$100.00</span>
                                            <div class="cart-icons">
                                                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/cart-img.jpg" alt="">
                                        <div class="cart-text">
                                            <strong>Primis in faucibus</strong>
                                            <span>1 x$100.00</span>
                                            <div class="cart-icons">
                                                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="cp-search-holder">
                            <button id="trigger-overlay" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </li>
                    </ul>*@
                </div><!--Nav Right Holder End-->
            </div>
        </div>
    </div><!--Navigation Row End-->
    <!--Search Bar Holder Start-->
    <div class="overlay overlay-contentscale" style="z-index:1001;">
        <button type="button" class="overlay-close">Close</button>
        <!--Search Bar Inner Start-->
        <div class="cp-search-inner">
            <div class="col-md-12">
                <input type="text" placeholder="Gõ từ khóa tìm kiếm sản phẩm" required="required" id="search2" onkeyup="autosearch2();" style="font-size: 14px; color: #fff; height: 40px; line-height: 40px; text-transform: uppercase; padding: 0; background: transparent; border: none; border-bottom: 1px solid #fff; position: relative; float: left; width: 100%;">
                <button class="submit" onclick="search2();" style="font-size: 18px; color: #fff; height: 40px; line-height: 40px; padding: 0; position: absolute; right: 0; top: 0; display: inline-block; background-color: transparent; border: none;"><i class="fa fa-search"></i></button>
            </div>
        </div><!--Search Bar Inner End-->
    </div>
    <!--Search Bar Holder End-->
    <!-- cart notice-->
    <div style="display:none;position:fixed;top:30%;left:30%;width:40%;z-index:1002;background:#4cff00;" id="showpopupdv">
        <a class="btn btn-circle btn-info" href="/Products/Cart" style="width:100%;">Thanh Toán</a>
        <a class="btn btn-circle btn-success" onclick='$("#showpopupdv").hide();' style="width:100%;">Tiếp Tục Mua Hàng</a>
        <input type="checkbox" id="chkshowpopupdv"/>Không hiện thông báo này
    </div>
</header>
<!-- Header End --> 
<script>
    function viewtree(id) {
        if (screen.width>767){
            $('#bs-example-navbar-collapse-1 li').each(function () {
                //column1RelArray.push($(this).attr('rel'));
                //console.log($(this).attr('pid'));
                if ($(this).attr('pid')==id) {
                    if ($(this).is(":visible")) $(this).hide(); else $(this).show();
                    //viewtree($(this).attr('id'));
                }
            });
        }else{
            $('#cp-slide-menu2 div').each(function () {
                //column1RelArray.push($(this).attr('rel'));
                //console.log($(this).attr('pid'));
                if ($(this).attr('pid') == id) {
                    if ($(this).is(":visible")) $(this).hide(); else $(this).show();
                    //viewtree($(this).attr('id'));
                    console.log($(this).attr('pid'));
                }
            });
        }
        
    }
    var isLoadMenu = 0;

    function showtreeproduct() {
        if (isLoadMenu == 1) return;
        if ($("#productsmenuchild").is(":visible")) $("#productsmenuchild").hide(); else $("#productsmenuchild").show();
        isLoadMenu = 1;
    }
    function viewtree2(id) {
        $('#allsidebar li').each(function () {
            //column1RelArray.push($(this).attr('rel'));
            //console.log($(this).attr('pid'));
            if ($(this).attr('pid') == id) {
                if ($(this).is(":visible")) $(this).hide(); else $(this).show();
                //viewtree($(this).attr('id'));
            }
        });
    }
    function autosearch2() {
        var urlSearch = '/Products/autosearch?keyword=';
        $('#search2').autocomplete({
            source: urlSearch + $("#search2").val(),
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    }
    function search2() {
        var source = $("#search2").val();
        if (source.indexOf("/") >= 0) {
            var arr = source.split("/");
            source = arr[0];
        } else
            if (source.indexOf("-")) {
                var arr = source.split("-");
                source = arr[0];
            }
        if (source == "") {
            //alert("Nhập từ khóa");
            //return;
            source = "all";
        }
        var urlSearch = "/san-pham/all-0/" + source + "-0-500000000-1-1";
        window.location.href = urlSearch;

    }
</script>