<!-- Header Start -->
<header class="cp-header" id="cp_header-v2">
    <div id="cp-slide-menu" class="cp_side-navigation">
        <ul class="navbar-nav">
            <li id="close"><a href="#"><i class="fa fa-close"></i></a></li>
            <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang chủ <i class="fa fa-angle-down"></i></a>
            </li>
            <li><a href="/gioi-thieu">Giới thiệu</a></li>
            <li>
                <a href="/dich-vu">Dịch vụ <i class="fa fa-angle-down"></i></a>
            </li>
            <li class="dropdown">
                <a href="/san-pham" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sản phẩm <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Danh mục 1</a></li>
                    <li><a href="#">Danh mục 1</a></li>
                    <li><a href="#">Danh mục 1</a></li>
                </ul>
            </li>
            @*<li class="dropdown">
                <a href="/tin-tuc" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tin tức <i class="fa fa-angle-down"></i></a>
            </li>*@
            <li class="dropdown">
                <a href="/lien-he" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liên hệ <i class="fa fa-angle-down"></i></a>
            </li>
        </ul>
    </div>
    <!-- Navigation Row Start -->
    <div class="cp-navigation-row">
        <div class="container">
            <div class="cp-sidemenu-btn">
                <div id="push" class="cp-sidemenu"><a href="#"><i class="fa fa-align-justify"></i></a></div>
            </div>
            <div class="cp-nav-holder">
                <strong class="cp-logo">
                    <a href="index.html"><img src="images/cp-logo2.png" alt=""></a>
                </strong>
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang chủ <i class="fa fa-angle-down"></i></a>
                            </li>
                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                            <li >
                                <a href="/dich-vu" >Dịch vụ <i class="fa fa-angle-down"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="/san-pham" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sản phẩm <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Danh mục 1</a></li>
                                    <li><a href="#">Danh mục 1</a></li>
                                    <li><a href="#">Danh mục 1</a></li>
                                </ul>
                            </li>
                            @*<li class="dropdown">
                                <a href="/tin-tuc" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tin tức <i class="fa fa-angle-down"></i></a>
                            </li>*@
                            <li class="dropdown">
                                <a href="/lien-he" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liên hệ <i class="fa fa-angle-down"></i></a>
                            </li>

                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <!--Nav Right Holder Start-->
                <div class="cp-nav-right">
                    <ul>
                        <li class="cp-cart-holder">
                            <span class="icon-shopping-cart icomoon"></span>
                            <span class="cart-item">2</span>
                            <div class="cp-cart-inner">
                                <ul class="cart-listed">
                                    <li>
                                        <img src="images/cart-img.jpg" alt="">
                                        <div class="cart-text">
                                            <strong>Primis in faucibus</strong>
                                            <span>1 x$100.00</span>
                                            <div class="cart-icons">
                                                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/cart-img.jpg" alt="">
                                        <div class="cart-text">
                                            <strong>Primis in faucibus</strong>
                                            <span>1 x$100.00</span>
                                            <div class="cart-icons">
                                                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="cp-search-holder">
                            <button id="trigger-overlay" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </li>
                    </ul>
                </div><!--Nav Right Holder End-->
            </div>
        </div>
    </div><!--Navigation Row End-->
    <!--Search Bar Holder Start-->
    <div class="overlay overlay-contentscale">
        <button type="button" class="overlay-close">Close</button>
        <!--Search Bar Inner Start-->
        <div class="cp-search-inner">
            <form method="get">
                <input type="text" placeholder="Enter your search" required="required">
                <button class="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!--Search Bar Inner End-->
    </div>
    <!--Search Bar Holder End-->

</header>
<!-- Header End --> 