@model List<tbcng.Models.cat>
@using tbcng.Helpers;

@if (Model != null)
{
    
    foreach (var item in @Model)
    {
        <!--Our Agent Warp Start-->
        <section class="kf_our_agent_bg" style="padding: 20px 10px;">
            <div class="container">
                <!--Heading Wrap Start-->
                <div class="kf_heading_1" style="background: #e4e4e4;">
                    <h3><a href="/danh-muc/@item.cat_url-@item.cat_id">@item.cat_name</a></h3>
                    <span class="kf_property_line"></span>
                </div>
                <!--Heading Wrap End-->
                <!--Agent List Wrap Start-->
                @{Html.RenderAction("LoadProductInCat", new { cat_id = item.cat_id });}
                
                <!--Agent List Wrap End-->

            </div>
        </section>
        <!--Our Agent Warp End-->
    }
}

