@{
    ViewBag.Title = "About";
}
<div class="cp-main-content" >
    <!--About Section Start-->
    <section class="cp-about-section cp-about-section_v4 pd-tb100" style="margin-top:15px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--About Text Start-->
                    <div class="cp-about-text">
                        <h3>Đôi Lời Giới Thiệu</h3>
                        <p class="first">Chuỗi cửa hàng phụ tùng xe máy online phục vụ khách hàng 24/7.</p>
                        <p><strong>Tầm nhìn của Phụ tùng Hoàng Gia:</strong></p>
                        <p>“ Không ngừng nâng cao chất lượng phục vụ và nguồn hàng chính hãng chất lượng cao, giá thành cạnh tranh đi đôi với hệ thống cửa hàng bán lẻ lắp đặt phụ tùng miễn phí, nhằm mang đến cho khách hàng sự an toàn, tiện lợi và tiết kiệm”</p>
                        <p><strong>Triết lý kinh doanh:</strong></p>
                        <p>“Hướng đến sự hài hòa và tăng trưởng bền vững trong kinh doanh đi đôi với việc liên tục bồi dưỡng trình độ, đào tạo tay nghề và chăm lo đời sống cho các cán bộ công nhân viên”</p>
                    </div><!--About Text End-->
                </div>
                <div class="col-md-6">
                    <div class="cp-abuout-thumb">
                        <img src="/images/products/about-img4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section><!--About Section End-->
</div>