@{
    ViewBag.Title = "Contact";
}
<section class="cp-contact-section pd-tb100">
    <div class="container" style="margin-top:35px;">
        <!--Contact Inner Holder Start-->
        <div class=" cp-contact-inner">
        <h2>Liên Hệ</h2>
        <p class="first">Trả lời ngay yêu cầu của bạn qua điện thoại, email.</p>
        <p>Trực tuyến 24/7.</p>
    </div><!--Contact Inner Holder End-->
        <!--Get Touch Outer Start-->
        <div class="cp-get-touch-outer">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <!--Get Box Start-->
                    <div class="cp-get-box">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <div class="cp-text">
                            <h3 style="color:#808080">Địa Chỉ</h3>
                            <p>30 Đại Cồ Việt - P. Lê Đại Hành - Q. Hai Bà Trưng - Hà Nội</p>
                        </div>
                    </div><!--Get Box End-->
                </div>
                <div class="col-md-3 col-sm-12">
                    <!--Get Box Start-->
                    <div class="cp-get-box">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="cp-text">
                            <h3 style="color:#808080">Điện Thoại</h3>
                            <p>0916 173 888</p>
                        </div>
                    </div><!--Get Box End-->
                </div>
                <div class="col-md-4 col-sm-12">
                    <!--Get Box Start-->
                    <div class="cp-get-box">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="cp-text">
                            <h3 style="color:#808080">Email</h3>
                            <p><a href="mailto:phutunghoanggia@gmail.com">phutunghoanggia@gmail.com </a></p>
                        </div>
                    </div><!--Get Box End-->
                </div>
            </div>
        </div><!--Get Touch Outer Start-->
        <!--Form Box Start-->
        <div class="cp-form-box">
            <h3>Liên Hệ Với Chúng Tôi</h3>
            <form action="/Home/SubmitContact" method="post">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="inner-holder">
                            <input placeholder="Họ Tên" name="fullname3" required="" pattern="[a-zA-Z ]+" type="text">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="inner-holder">
                            <input placeholder="Email" name="email3" required="" pattern="^[a-zA-Z0-9-\_.]+[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$" type="text" >
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="inner-holder">
                            <input placeholder="Tiêu đề" name="subject3" required="" pattern="[a-zA-Z ]+" type="text">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="inner-holder">
                            <textarea placeholder="Nội dung" name="comment3" required=""></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="inner-holder cp-btn-holder">
                            <button type="submit" class="cp-btn-style1 btn-submit" value="Submit" name="submit3">Gửi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--Form Box End-->
    </div>
</section>