@{
    ViewBag.Title = "aff";
}
<!-- Inner Banner Start -->
<div class="cp-inner-banner">
    <div class="container">
        <div class="cp-inner-banner-outer">
            <h2>About Us</h2>
            <!--Breadcrumb Start-->
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
            </ul><!--Breadcrumb End-->
        </div>
    </div>
</div>
<!-- Inner Banner End --> 
