
@{
    ViewBag.Title = "Service";
    Layout = "~/Themes/default/Views/Shared/_Layout.cshtml";
}
<div class="cp-main-content" style="background-color: #424242;">
    <!--Services Section Start-->
    <section class="cp-services-section cp-services-section_v4" style="margin-top:15px;background-color: #424242;">
        <!--Services Text Start-->
        <div class="cp-services-inner" style="background-color: #424242;">
            <div class="container" style="background-color: #424242;">
                <div class="cp-heading-style1_v2">
                    <h2><span>Dịch Vụ </span> Tốt Nhất</h2>
                </div>
                <ul class="cp-services-listed row">
                    <li class="col-md-4 col-sm-6">
                        <!--Services Item Start-->
                        <div class="cp-services-item">
                            <span class="icon-teacher-pointing-at-blackboard icomoon"> </span>
                            <h3>Tư Vấn</h3>
                            <p>Giúp khách hàng lựa chọn giải pháp tối ưu về dịch vụ và giá cả.</p>
                            @*<a href="#" class="readmore">Read More</a>*@
                        </div><!--Services Item End-->
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <!--Services Item Start-->
                        <div class="cp-services-item">
                            <span class="fa fa-motorcycle icomoon"> </span>
                            <h3>Chăm Sóc</h3>
                            <p>Không chỉ là dịch vụ, Chúng tôi chăm sóc khách hàng.</p>
                            @*<a href="#" class="readmore">Read More</a>*@
                        </div><!--Services Item End-->
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <!--Services Item Start-->
                        <div class="cp-services-item">
                            <span class="icon-discount-badge icomoon"> </span>
                            <h3>Dịch Vụ và Sửa Chữa</h3>
                            <p>Đáp ứng nhu cầu khách hàng, nâng cấp và sửa chữa.</p>
                            @*<a href="#" class="readmore">Read More</a>*@
                        </div><!--Services Item End-->
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <!--Services Item Start-->
                        <div class="cp-services-item">
                            <span class="icon-shopping-trolley-full icomoon"> </span>
                            <h3>Phân Phối</h3>
                            <p>Chúng tôi bán buôn, bán lẻ với số lượng lớn.</p>
                            @*<a href="#" class="readmore">Read More</a>*@
                        </div><!--Services Item End-->
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <!--Services Item Start-->
                        <div class="cp-services-item">
                            <span class="icon-shopping-trolley-full icomoon"> </span>
                            <h3>Đại Lý</h3>
                            <p>Phát triển hệ thống đại lý phụ tùng xe chính hãng toàn quốc.</p>
                            @*<a href="#" class="readmore">Read More</a>*@
                        </div><!--Services Item End-->
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <!--Services Item Start-->
                        <div class="cp-services-item">
                            <span class="icon-shopping-trolley-full icomoon"> </span>
                            <h3>Hỗ Trợ 24/7</h3>
                            <p>Xe bạn cần sửa chữa, gọi cho chúng tôi, chúng tôi sẽ có mặt</p>
                            <a href="tel:0916173888" class="readmore">Gọi 0916 173 888</a>
                        </div><!--Services Item End-->
                    </li>

                </ul>
            </div>
        </div><!--Services Text End-->

    </section><!--Services Section End-->
</div>
