/*==================================================================================COLOR 1==================================================================================*/
/*
	  ============================================================
		   Font Color
	  ============================================================
*/
/*Header Wrap Css*/
.kf_top_social_icon ul li:hover a,
.kf_callus i,
.kf_phone_num h6,
.kf_main_navigation ul li::before,
.kf_main_navigation ul li.active > a,
.kf_main_navigation ul li:hover > a,
/*Banner Wrap Css*/
/*Our Services Wrap Css*/
.kf_property_services_wrap:hover i,
.kf_property_services_wrap:hover h5 > a,
/*Property Listing Wrap Css*/
.kf_property_listing_wrap:hover .kf_property_listing_des h5 > a,
.kf_property_listing_wrap:hover .kf_listing_total_price h4,
/*Pagination Wrap Css*/
.kf_property_pagination ul li a:hover,
.kf_property_pagination ul li.active a,
/*Most Recent Property Wrap Css*/
/*Leased And Sold Property Wrap Css*/
/*Property For Rent Wrap Css*/
.kf_rent_property_des h6 > a:hover,
.kf_rent_property_des ul li:hover i,
/*Our Agent Wrap*/
/*Number Counter Wrap Css*/
/*Latest Blog Wrap Css*/
/*Map Wrap Css*/
/*Company Wrap Css*/
/*Twitter Wrap Css*/
/*Home Page Footer Widgets*/
/*Home Page Footer*/
/*Index Page 2 CSS*/
/*Advance Search Css*/
/*Sub Banner Wrap Css*/
/*Know More About Property Wrap Css*/
/*Heading Wrap Css*/
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
/*Blog Listing Wrap Css*/
ul.kf_blog_listing_meta li:hover a,
.kf_blog_listing_des > a:hover,
/*Aside Bar Widgets Css*/
.kf_aside_category ul li:hover:before,
.kf_aside_category ul li:hover a,
.kf_aside_category ul li:hover span,
/*Featured Post Css*/
.kf_aside_post_des h6 > a:hover,
/*Featured Agent CSS*/
.kf_aside_agent_des h6 > a:hover,
.kf_aside_agent_des span i,
/*Featured Properties CSS*/
/*Search For Property Wrap CSS*/
/*Blog Listing 2 Wrap Css*/
ul.kf_blog_social_icon li:hover a,
.kf_listing2_blog h4 > a:hover,
/*Blog Detail Wrap Css*/
ul.kf_tag_list li:hover a,
.kf_property_detail_real ul li:hover i,
.kf_property_detail_real ul li:hover  a,
/*Comment CSS*/
.kf_comment_des > a,
.kf_comment_des h6 > a:hover,
/*Post Comment CSS*/
/*Blog Detail 2 Wrap Css*/
.kf_property_detail_Essentail ul li:hover a,
/*Comming Soon Page Css*/
/*Team Detail Page Css*/
/*Reviews of the Client Wrap Css*/
.kf_pet_testi_3_fig_des h5 > a:hover,
/*Property Meta Wrap Css*/
/*property Listing 02 Wrap CSS*/
.kf_property_caption h5 > a:hover,
.kf_property_dolar li:hover a,
ul.kf_listing_03_location li:hover a,
/*property Listing 04 Wrap CSS*/
/*Contact Us 03 Wrap Css*/
/*Property Detail Page Css*/
/*404 Page Page Css*/
.kf_error_text h3,
/*Submit Property Page Css*/
/*ShortCode CSS*/
.pet_love_content_list h6 > a:hover,
.goal_des > ul > li::before,
ul.kf_product_featured_list li:hover a,
/* Envoto Listing Css */
ul.envoto_ui_element li:hover a,
ul.envoto_tweet_element li:hover a
/*Login Page Css*/
/*Header 3 Css Wrap*/
/* Gallery Wrap Start */
{
	color:#0070bb;	
}



/*
	  ============================================================
		   Background Color
	  ============================================================
*/
/*Header Wrap Css*/
.kf_list_free:hover,
.kf_main_navigation ul ul li:hover > a,
/*Navigation 2 CSS*/
.dl-menuwrapper ul,
.kf_logo_nav_style2 .kf_main_navigation > ul > li.active > a,
.kf_logo_nav_style2 .kf_main_navigation > ul > li:hover > a,
/*Banner Wrap Css*/
.kf_banner_wrap .bx-wrapper .bx-controls-direction a:hover,
/* DL Menu Wrap CSS */
.dl-menuwrapper button,
/*Our Services Wrap Css*/
.kf_property_services_wrap:hover h5 > a:before,
/*Property Listing Wrap Css*/
.kf_listing_overlay,
/*Pagination Wrap Css*/
/* Video Wrap Css */
.kf_play_btn > a:hover,
.kf_video_wrap > a:hover,
.kf_video_wrap > a:hover > i:after,
/*Most Recent Property Wrap Css*/
/*Leased And Sold Property Wrap Css*/
.kf_leased_property.kf_sold_property a.kf_link_1:hover,
.kf_leased_property:after,
/*Property For Rent Wrap Css*/
.kf_rent_label,
.kf_rent_property_des ul li:hover span,
.kf_property_rent_wrap:hover .kf_rent_location,
.kf_rent_property.owl-theme .owl-controls .owl-page.active span,
.kf_rent_property.owl-theme .owl-controls .owl-page:hover span,
/*Our Agent Wrap*/
.kf_agent_slider.owl-theme .owl-controls .owl-buttons div:hover,
/*Number Counter Wrap Css*/
.kf_num_counter_bg:before,
/*Latest Blog Wrap Css*/
/*Map Wrap Css*/
/*Company Wrap Css*/
/*Twitter Wrap Css*/
.kf_twitter_wrap_bg,
/*Home Page Footer Widgets*/
.widget > h6:before,
/*Home Page Footer*/
/*Index Page 2 CSS*/
.kf_schedule_wrap,
.kf_schedule_visit > a:hover,
/*Advance Search Css*/
.kf_search_field input[type="submit"],
.kf_search_field button,
/*Sub Banner Wrap Css*/
/*Know More About Property Wrap Css*/
.kf_know_property_bg,
/*Heading Wrap Css*/
.kf_heading_2 h3:before,
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
/* About Us Wrap Css */
.kf_video_icon a:hover,
/*Blog Listing Wrap Css*/
.kf_blog_listing_wrap .bx-wrapper .bx-controls-direction a,
/*Aside Bar Widgets Css*/
/*Search For Property Wrap CSS*/
.kf_search_property_wrap h6,
.kf_property_field .kf_range_slider .ui-slider .ui-slider-range,
.aside_hdg h5:after,
.kf_property_field input[type="submit"],
.kf_property_field button,
/*Featured Post Css*/
/*Featured Agent CSS*/
/*Featured Properties CSS*/
/*Blog Listing 2 Wrap Css*/
.kf_listing2_blog_wrap:hover .kf_listing2_blog_des > a,
/*Blog Detail Wrap Css*/
.kf_property_detail_social_icon ul li a,
/*Post Comment CSS*/
.kf_commet_field input[type="submit"],
.kf_commet_field button,
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
.kf_cooming_soon_form button:hover,
/*Team Detail Page Css*/
.member_contact_des i,
.kf_member_contact_detail ul li:hover,
/*Reviews of the Client Wrap Css*/
.kf_client_review_slider.owl-theme .owl-controls .owl-page.active span,
.kf_client_review_slider.owl-theme .owl-controls .owl-page:hover span,
/*Property Meta Wrap Css*/
/*property Listing 02 Wrap CSS*/
/*property Listing 03 Wrap CSS*/
.kf_listing_03_wrap:hover .kf_listing_total,
/*property Listing 04 Wrap CSS*/
.kf_listing_03_des > a:hover,
/*Contact Us 03 Wrap Css*/
.kf_content_us_icon:before,
.kf_content_us_icon span:before,
.kf_loging_input button,
.kf_loging_input input[type="submit"],
/*Property Detail Page Css*/
.kf_property_detail_bed ul li:hover,
.kf_property_detail_sale > a,
.kf_property_detail_form button,
.kf_property_detail_form input[type="submit"],
/*404 Page Page Css*/
.kf_go_back_bg,
/*Submit Property Page Css*/
.kf_submit_property_button button,
/*ShortCode CSS*/
.accordion.accordion-open,
ul.kf_shortcode_social2 li:hover a,
.kf_link_1:hover,
.kf_btn_1:hover,
.kf-action7_content:hover a::before,
.pet_love_content ul li:hover span::before,
.kf_price_table:hover .kf_table_price,
.kf_price_table:hover .kf_table_price::before,
/*Login Page Css*/
.kf_login_1,
/*Header 3 Css Wrap*/
.top_navi_circal:hover a,
.kf_hdr2_search > a:hover,
.kf_hdr2_navigation,
/* Gallery Wrap Start */
#filterable-item-filter-1 a
{
	background-color:#0070bb;	
}


/*
	  ============================================================
		   Border Color
	  ============================================================
*/

/*Header Wrap Css*/
.kf_main_navigation ul ul,
/*Banner Wrap Css*/
/*Our Services Wrap Css*/
/*Property Listing Wrap Css*/
.kf_listing_detail > a.kf_link_1:hover,
/*Pagination Wrap Css*/
.kf_property_listing_wrap:hover,
/* Video Wrap Css */
.kf_play_btn > a:hover,
.kf_video_wrap > a:hover,
/*Most Recent Property Wrap Css*/
/*Leased And Sold Property Wrap Css*/
/*Property For Rent Wrap Css*/
/*Our Agent Wrap*/
/*Number Counter Wrap Css*/
/*Latest Blog Wrap Css*/
/*Map Wrap Css*/
/*Company Wrap Css*/
.kf_compnay_wrap:hover,
/*Twitter Wrap Css*/
/*Home Page Footer Widgets*/
/*Home Page Footer*/
/*Index Page 2 CSS*/
/*Advance Search Css*/
/*Sub Banner Wrap Css*/
/*Know More About Property Wrap Css*/
/*Heading Wrap Css*/
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
/*Blog Listing Wrap Css*/
.kf_blog_listing_pager a.active,
.kf_blog_listing_pager a:hover,
/*Aside Bar Widgets Css*/
/*Search For Property Wrap CSS*/
.kf_property_field .kf_range_slider .ui-slider .ui-slider-handle,
/*Featured Post Css*/
/*Featured Agent CSS*/
/*Featured Properties CSS*/
/*Blog Listing 2 Wrap Css*/
.kf_listing2_blog_wrap:hover .kf_listing2_blog_des > a,
/*Blog Detail Wrap Css*/
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
/*Team Detail Page Css*/
/*Reviews of the Client Wrap Css*/
.kf_client_review_slider .item:hover .kf_pet_testi_3,
.kf_client_review_slider .item:hover .kf_pet_testi_3_fig figure img,
/*Property Meta Wrap Css*/
/*property Listing 02 Wrap CSS*/
/*property Listing 04 Wrap CSS*/
.kf_listing_03_des > a:hover,
/*Contact Us 03 Wrap Css*/
.kf_content_us_icon span:after,
/*Property Detail Page Css*/
/*404 Page Page Css*/
/*Submit Property Page Css*/
/*ShortCode CSS*/
ul.kf_shortcode_social2 li:hover a,
.kf_link_1:hover,
.kf_prdct_featured_wrap a.kf_link_1:hover,
.kf_price_table:hover,
/*Login Page Css*/
/*Header 3 Css Wrap*/
.kf_hdr2_search input[type="text"]:focus
/* Gallery Wrap Start */
{
	border-color:#0070bb;	
}



/*
	  ============================================================
		   Transaction Effect
	  ============================================================
*/
/*Header Wrap Css*/
.kf_top_social_icon ul li a,
.kf_list_free a,
.kf_list_free,
.kf_list_free a,
.kf_main_navigation ul li,
.kf_main_navigation ul li:before,
.kf_main_navigation ul li a,
.kf_main_navigation ul ul,
.kf_main_navigation ul ul ul,
.kf_mega_detail i,
/* DL Responsive CSS */
.dl-menuwrapper button,
/*Banner Wrap Css*/
.kf_banner_wrap .bx-wrapper .bx-controls-direction a,
/*Our Services Wrap Css*/
.kf_property_services_wrap,
.kf_property_services_wrap i,
.kf_property_services_wrap h5 > a,
.kf_property_services_wrap > a,
/*Property Listing Wrap Css*/
.kf_property_listing_wrap,
.kf_listing_detail,
.kf_listing_overlay,
.kf_listing_detail > a,
.kf_property_listing_des,
.kf_property_listing_des h5 > a,
.kf_listing_total_price,
.kf_listing_total_price h4,
/*Pagination Wrap Css*/
.kf_property_pagination ul li a,
/* Video Wrap Css */
.kf_video_wrap a:hover,
.kf_video_wrap a i:after,
/*Most Recent Property Wrap Css*/
.kf_recent_property_wrap,
.kf_like_property,
.kf_recent_visible_des,
.kf_like_property a,
.kf_recent_property_des,
ul.kf_recent_rating li a,
.kf_recent_property_meta,
/*Leased And Sold Property Wrap Css*/
/*Property For Rent Wrap Css*/
.kf_property_rent_wrap,
.kf_rent_label,
.kf_rent_property_des h6 > a,
.kf_rent_property_des ul li,
.kf_rent_property_des ul li span,
.kf_rent_location,
.kf_rent_location h6,
.kf_rent_total_price,
.kf_rent_property.owl-theme .owl-controls .owl-page span,
/*Our Agent Wrap*/
.kf_agent_wrap figure img,
.kf_agent_des h6 > a,
.kf_agent_slider.owl-theme .owl-controls .owl-buttons div,
/*Number Counter Wrap Css*/
/*Latest Blog Wrap Css*/
.kf_blog_post_wrap,
.kf_blog_post_wrap h6,
.kf_blog_post_wrap h6 a,
.kf_blog_des,
.kf_blog_post_wrap figure img,
ul.kf_blog_post_meta li,
ul.kf_blog_post_meta li i,
ul.kf_blog_post_meta li a,
.kf_blog_des a,
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div,
/*Map Wrap Css*/
/*Company Wrap Css*/
.kf_compnay_wrap,
/*Twitter Wrap Css*/
.kf_compnay_wrap a,
.kf_compnay_wrap a img,
/*Home Page Footer Widgets*/
/*Home Page Footer*/
/*Col 1*/
ul.kf_foo_address li i,
ul.kf_foo_address li a,
ul.kf_foo_social_icon li a,
/*Col 2*/
.kf_foo_listing_des > h6 > a,
/*Col 3*/
.kf_foo_latest_post,
.kf_foo_latest_post figure img,
.kf_foo_post_des p > a,
/*Col 4*/
.kf_foo_property_type ul li,
.kf_foo_property_type ul li a,
.kf_foo_property_type ul li a span,
/*Copy Right CSS*/
.kf_copyright_element ul li a,
/*Index Page 2 CSS*/
.kf_schedule_visit > a,
/*Advance Search Css*/
.kf_search_tab_wrap ul li a,
.kf_search_field input[type="submit"],
.kf_search_field button,
/*Sub Banner Wrap Css*/
/*Know More About Property Wrap Css*/
/* About Us Wrap Css */
.kf_video_icon a,
.kf_video_icon a,
/*Heading Wrap Css*/
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
.kf_core_value_wrap ul li,
.kf_core_value_wrap ul li a,
.kf_testimonial_wrap .bx-wrapper .bx-controls-direction a,
/*Blog Listing Wrap Css*/
ul.kf_blog_listing_meta li,
ul.kf_blog_listing_meta li a,
.kf_blog_listing_des > a,
.kf_blog_listing_wrap .bx-wrapper .bx-controls-direction a,
.kf_blog_listing_pager a,
/*Aside Bar Widgets Css*/
/*Search For Property Wrap CSS*/
.kf_aside_category ul li,
.kf_aside_category ul li:before,
.kf_aside_category ul li a,
.kf_aside_category ul li span,
.kf_property_field input[type="submit"],
.kf_property_field button,
/*Featured Post Css*/
.kf_aside_post_des h6 > a,
.kf_aside_post_wrap ul li figure img,
/*Featured Agent CSS*/
.kf_aside_agent_des h6 > a,
.kf_aside_fea_agent ul li figure img,
/*Featured Properties CSS*/
.kf_aside_fea_properties ul li a img,
/*Blog Listing 2 Wrap Css*/
.kf_listing2_blog_des > a,
ul.kf_blog_social_icon li a,
.kf_blog2_date,
.kf_blog2_date span,
.kf_blog2_date:before,
.kf_listing2_blog h4 > a,
.kf_listing2_blog_des .bx-wrapper .bx-controls-direction a,
/*Blog Detail Wrap Css*/
ul.kf_tag_list li a,
.kf_property_detail_Essentail ul li a,
.kf_floor_detail h5 > a,
.kf_property_detail_real ul li,
.kf_property_detail_real ul li i,
.kf_property_detail_real ul li a,
.kf_property_detail_social_icon ul li a,
/*Comment CSS*/
.kf_comment_des h6 > a,
.kf_comment_des > a,
/*Post Comment CSS*/
.kf_commet_field input[type="submit"],
.kf_commet_field button,
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
.kf_cooming_soon_form button,
/*Team Detail Page Css*/
.kf_member_contact_detail ul li:hover,
.member_contact_des i,
.member_contact_des h5 > a,
.member_contact_des a,
.member_contact_des h5,
ul.kf_recent_rating li a,
/*Reviews of the Client Wrap Css*/
.kf_pet_testi_3,
.kf_pet_testi_3_fig figure img,
.kf_pet_testi_3_fig_des h5 > a,
.kf_pet_testi_3::before,
/*Property Meta Wrap Css*/
.kf_property_view i,
/*property Listing 02 Wrap CSS*/
.kf_property_caption h5 > a,
.kf_property_dolar li a,
.kf_property_more,
.kf_property_img figure img,
/*property Listing 03 Wrap CSS*/
.kf_listing_total,
.kf_listing_img_des a,
ul.kf_listing_03_location li a,
.kf_listing_03_des > a,
/*property Listing 04 Wrap CSS*/
.kf_listing_img_des h3,
.kf_listing_03_des > a:hover,
/*Contact Us 03 Wrap Css*/
.kf_content_us_icon:before,
.kf_content_us_icon span,
.kf_content_us_icon span:before,
.kf_content_us_icon span:after,
.kf_with_us_form button,
.kf_with_us_social ul li a,
.kf_with_us_form input[type="text"],
.kf_with_us_form input[type="email"],
.kf_loging_input input[type="text"],
.kf_loging_input label,
.kf_loging_input button,
.kf_loging_input input[type="submit"],
.kf_login_password ul li a,
/*Property Detail Page Css*/
.kf_property_detail_bed ul li,
.kf_property_detail_bed ul li a,
.kf_property_detail_form button,
.kf_property_detail_form input[type="submit"],
.kf_property_detail_form input[type="text"],
.kf_property_detail_form textarea,
/*404 Page Page Css*/
/*Submit Property Page Css*/
.kf_submit_property_button button,
/*ShortCode CSS*/
.pet_love_content_list h6 > a,
ul.kf_shortcode_social2 li a,
.kf_link_1,
.kf_link_2,
.kf_btn_1,
.kf-action7_content a::before,
.pet_love_content ul li span::before,
.kf-action7_content a,
.kf_table_price,
.kf_price_table,
.kf_table_price::before,
.kf_price_table,
ul.kf_product_featured_list li a,
.kf_link_2,
.kf-action7_content a,
.pet_love_content span,
/* Envoto Wrap Css */
ul.envoto_ui_element li a,
ul.envoto_tweet_element li a,
/*Login Page Css*/
.kf_login_social_icon ul li,
/*Header 3 Css Wrap*/
.top_navi_circal a,
.kf_hdr2_search > a,
.kf_hdr2_search input[type="text"],
.kf_menu_scl_icon ul li a,
.kf_hdr2_social_icon ul li a,
.kf_top_weather a,
/* Gallery Wrap Start */
#filterable-item-filter-1 a,
.edu_masonery_thumb figure,
.edu_masonery_thumb figure::before,
.edu_masonery_thumb figure > a,
.edu_masonery_thumb figure figcaption,
.edu_masonery_thumb:hover figure figcaption,
.edu_masonery_thumb figure figcaption a
{
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;	
}



/*
	  ============================================================
		   Transform Effect
	  ============================================================
*/
/*Property Listing Wrap Css*/
.kf_property_listing_wrap:hover .kf_listing_overlay,
.kf_property_listing_wrap:hover .kf_listing_detail > a,
/*Pagination Wrap Css*/
/*Most Recent Property Wrap Css*/
/*Leased And Sold Property Wrap Css*/
/*Property For Rent Wrap Css*/
.kf_property_rent_wrap:hover .kf_listing_overlay,
.kf_property_rent_wrap:hover .kf_listing_detail > a,
/*Our Agent Wrap*/
/*Number Counter Wrap Css*/
/*Latest Blog Wrap Css*/
/*Map Wrap Css*/
/*Company Wrap Css*/
/*Twitter Wrap Css*/
/*Home Page Footer Widgets*/
/*Home Page Footer*/
/*Index Page 2 CSS*/
/*Advance Search Css*/
/*Sub Banner Wrap Css*/
/*Know More About Property Wrap Css*/
/*Heading Wrap Css*/
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
/*Blog Listing Wrap Css*/
/*Aside Bar Widgets Css*/
/*Search For Property Wrap CSS*/
/*Featured Post Css*/
/*Featured Agent CSS*/
/*Featured Properties CSS*/
/*Blog Listing 2 Wrap Css*/
/*Blog Detail Wrap Css*/
.kf_property_detail_map ul li:hover .kf_listing_overlay,
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
/*Team Detail Page Css*/
.kf_agent_wrap:hover .kf_listing_overlay,
/*Reviews of the Client Wrap Css*/
/*Property Meta Wrap Css*/
/*property Listing 02 Wrap CSS*/
/*property Listing 03 Wrap CSS*/
.kf_listing_03_wrap:hover .kf_listing_overlay,
/*property Listing 04 Wrap CSS*/
/*Contact Us 03 Wrap Css*/
.kf_content_us_icon:hover span:before,
.kf_content_us_icon:hover span:after,
/*Property Detail Page Css*/
/*404 Page Page Css*/
/*Submit Property Page Css*/
/*ShortCode CSS*/
.kf-action7_content:hover a::before,
.pet_love_content ul li:hover span::before
/*Login Page Css*/
/*Header 3 Css Wrap*/
/* Gallery Wrap Start */
{
	transform:scale(1);
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);	
}
/*Our Agent CSS*/
.kf_agent_wrap:hover figure img,
/*Latest Blog Wrap Css*/
.kf_blog_post_wrap:hover figure img,
/*Footer Wrap CSS*/
.kf_foo_latest_post:hover figure img,
/*Featured Post Css*/
.kf_aside_post_wrap ul li:hover figure img
/*Featured Agent CSS*/
.kf_aside_fea_agent ul li:hover figure img,
/*Featured Properties CSS*/
.kf_aside_fea_properties ul li:hover a img,
/*Blog Listing 2 Wrap Css*/
/*Blog Detail Wrap Css*/
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
/*Team Detail Page Css*/
/*Reviews of the Client Wrap Css*/
/*Property Meta Wrap Css*/
/*property Listing 02 Wrap CSS*/
.kf_listing_outer_wrap:hover .kf_property_img figure img
/*property Listing 04 Wrap CSS*/
/*Contact Us 03 Wrap Css*/
/*Property Detail Page Css*/
/*404 Page Page Css*/
/*Submit Property Page Css*/
/*ShortCode CSS*/
/*Login Page Css*/
/*Header 3 Css Wrap*/
/* Gallery Wrap Start */
{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);	
}


/*==================================================================================COLOR 2==================================================================================*/
/*
	  ============================================================
		   Font Color
	  ============================================================
*/
/*Header Wrap Css*/
/*Banner Wrap Css*/
/*Our Services Wrap Css*/
/*Property Listing Wrap Css*/
/*Pagination Wrap Css*/
/*Most Recent Property Wrap Css*/
.kf_like_property > a:hover,
/*Leased And Sold Property Wrap Css*/
/*Property For Rent Wrap Css*/
/*Our Agent Wrap*/
.kf_agent_des h6 > a:hover,
/*Number Counter Wrap Css*/
/*Latest Blog Wrap Css*/
.kf_blog_post_wrap:hover > h6,
.kf_blog_des > h6 > a:hover,
.kf_blog_post_wrap:hover .kf_blog_des > a,
ul.kf_blog_post_meta li:hover i,
ul.kf_blog_post_meta li:hover a,
/*Map Wrap Css*/
/*Company Wrap Css*/
/*Twitter Wrap Css*/
/*Home Page Footer Widgets*/
/*Home Page Footer*/
/*Col 1*/
ul.kf_foo_address li:hover i,
ul.kf_foo_address li:hover a,
/*Col 2*/
.kf_foo_listing_des > h6 > a:hover,
/*Col 3*/
.kf_foo_post_des p > a:hover,
/*Col 4*/
.kf_foo_property_type ul li:hover a,
/*Copy Right Css*/
.kf_copyright_element ul li:hover a,
/*Index Page 2 CSS*/
/*Advance Search Css*/
.kf_search_field .amount,
/*Sub Banner Wrap Css*/
/*Know More About Property Wrap Css*/
/*Heading Wrap Css*/
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
.kf_core_value_wrap ul li.active a,
.kf_core_value_wrap ul li:hover a,
/*Blog Listing Wrap Css*/
/*Aside Bar Widgets Css*/
/*Search For Property Wrap CSS*/
/*Featured Post Css*/
/*Featured Agent CSS*/
/*Featured Properties CSS*/
/*Blog Listing 2 Wrap Css*/
/*Blog Detail Wrap Css*/
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
.kf_comming_counter ul.countdown li span,
/*Team Detail Page Css*/
.kf_team_detail_des ul.kf_recent_rating li:hover a,
/*Reviews of the Client Wrap Css*/
/*Property Meta Wrap Css*/
/*property Listing 02 Wrap CSS*/
/*property Listing 04 Wrap CSS*/
.kf_listing_03_des ul.kf_recent_rating li:hover a,
/*Contact Us 03 Wrap Css*/
.kf_with_us_social ul li:hover a,
.kf_login_password ul li:hover a,
/*Property Detail Page Css*/
/*404 Page Page Css*/
.kf_404_wrap h2,
.kf_not_found_wrap h2,
/*Submit Property Page Css*/
.kf_submit_property_newsletter a,
/*ShortCode CSS*/
.kf_link_2:hover,
/*Login Page Css*/
/*Header 3 Css Wrap*/
.kf_hdr2_social_icon ul li:hover a,
.kf_top_weather a:hover
/* Gallery Wrap Start */
{
	color:#f6911e;	
}



/*
	  ============================================================
		   Background Color
	  ============================================================
*/
/*Header Wrap Css*/
.kf_top_bar,
.no-touch .dl-menuwrapper li a:hover,
/*Banner Wrap Css*/
.kf_banner_wrap .bx-wrapper .bx-controls-direction a,
/* DL Responsive CSS */
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.kf_hdr2_navigation .dl-trigger,
/*Our Services Wrap Css*/
/*Property Listing Wrap Css*/
/*Pagination Wrap Css*/
/*Most Recent Property Wrap Css*/
/*Leased And Sold Property Wrap Css*/
.kf_sold_property.kf_sold_property:after,
.kf_leased_property a.kf_link_1:hover,
/*Property For Rent Wrap Css*/
/*Our Agent Wrap*/
/*Number Counter Wrap Css*/
/*Latest Blog Wrap Css*/
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div:hover,
/*Map Wrap Css*/
/*Company Wrap Css*/
/*Twitter Wrap Css*/
/*Home Page Footer Widgets*/
.widget > h6:after,
.kf_foo_listing_hover,
/*Home Page Footer*/
/*Col 1*/
ul.kf_foo_social_icon li:hover a,
/*Index Page 2 CSS*/
.kf_schedule_visit > a,
/*Advance Search Css*/
.kf_search_tab_wrap ul li.active a,
.kf_search_tab_wrap ul li:hover a,
.kf_search_field input[type="submit"]:hover,
.kf_search_field button:hover,
.kf_range_slider .ui-widget-header,
/*Sub Banner Wrap Css*/
.kf_property_sub_banner,
/*Know More About Property Wrap Css*/
/*Heading Wrap Css*/
.kf_heading_2 h3:after,
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
.kf_testimonial_wrap .bx-wrapper .bx-controls-direction a:hover,
/*Blog Listing Wrap Css*/
.kf_blog_listing_wrap .bx-wrapper .bx-controls-direction a:hover,
/*Aside Bar Widgets Css*/
/*Search For Property Wrap CSS*/
.aside_hdg h5:before,
.kf_property_field input[type="submit"]:hover,
.kf_property_field button:hover,
/*Featured Post Css*/
/*Featured Agent CSS*/
/*Featured Properties CSS*/
/*Blog Listing 2 Wrap Css*/
.kf_blog2_date:before,
.kf_listing2_blog_des .bx-wrapper .bx-controls-direction a:hover,
/*Blog Detail Wrap Css*/
.kf_property_detail_social_icon ul li:hover a,
/*Post Comment CSS*/
.kf_commet_field input[type="submit"]:hover,
.kf_commet_field button:hover,
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
.kf_cooming_soon_form button,
/*Team Detail Page Css*/
.kf_member_contact_detail ul li:hover .member_contact_des i,
/*Reviews of the Client Wrap Css*/
/*Property Meta Wrap Css*/
.kf_property_view i:hover,
/*property Listing 02 Wrap CSS*/
.kf_property_more:hover,
/*property Listing 04 Wrap CSS*/
/*Contact Us 03 Wrap Css*/
.kf_with_us_form button:hover,
.kf_loging_input button:hover,
.kf_loging_input input[type="submit"],
.kf_loging_input input[type="text"]:focus + label,
/*Property Detail Page Css*/
.kf_property_detail_form button:hover,
.kf_property_detail_form input[type="submit"]:hover,
/*404 Page Page Css*/
/*Submit Property Page Css*/
.kf_submit_property_button button:hover,
/*ShortCode CSS*/
.kf_table_price,
.kf_table_price::before,
/*Login Page Css*/
.kf_login_social_icon ul li:hover a,
/*Header 3 Css Wrap*/
.top_navi_circal a,
.kf_hdr2_search > a,
.kf_menu_scl_icon ul li a,
.header2 .kf_main_navigation > ul > li.active > a,
.header2 .kf_main_navigation > ul > li:hover > a,
/*2nd Ul*/
.header2 .kf_main_navigation ul ul li:hover > a,
/* Gallery Wrap Start */
#filterable-item-filter-1 a:hover,
.edu_masonery_thumb:hover figure figcaption,
#filterable-item-filter-1 > li .active
{
	background-color:#f6911e;	
}


/*
	  ============================================================
		   Border Color
	  ============================================================
*/
/*Header Wrap Css*/
/*Banner Wrap Css*/
.kf_banner_wrap,
/*Our Services Wrap Css*/
/*Property Listing Wrap Css*/
/*Pagination Wrap Css*/
/*Most Recent Property Wrap Css*/
/*Leased And Sold Property Wrap Css*/
/*Property For Rent Wrap Css*/
/*Our Agent Wrap*/
/*Number Counter Wrap Css*/
/*Latest Blog Wrap Css*/
.kf_blog_post_wrap:hover .kf_blog_des > a,
/*Map Wrap Css*/
/*Company Wrap Css*/
/*Twitter Wrap Css*/
/*Home Page Footer Widgets*/
.kf_foo_featured_listing figure,
/*Home Page Footer*/
/*Index Page 2 CSS*/
/*Advance Search Css*/
.kf_range_slider .ui-slider .ui-slider-handle,
/*Sub Banner Wrap Css*/
/*Know More About Property Wrap Css*/
/*Heading Wrap Css*/
/*Testmonial Wrap Start Wrap Css*/
/*Core Value Wrap Start Wrap Css*/
/*Blog Listing Wrap Css*/
/*Aside Bar Widgets Css*/
/*Search For Property Wrap CSS*/
.kf_property_field input[type="submit"]:hover,
.kf_property_field button:hover,
/*Featured Post Css*/
/*Featured Agent CSS*/
/*Featured Properties CSS*/
/*Blog Listing 2 Wrap Css*/
/*Blog Detail Wrap Css*/
/*Blog Detail 2 Wrap Css*/
/*Comming Soon Page Css*/
/*Team Detail Page Css*/
/*Reviews of the Client Wrap Css*/
/*Property Meta Wrap Css*/
/*property Listing 02 Wrap CSS*/
/*property Listing 04 Wrap CSS*/
.kf_property_more:hover,
/*Contact Us 03 Wrap Css*/
.kf_loging_input input[type="text"]:focus,
/*Property Detail Page Css*/
.kf_property_detail_form button:hover,
.kf_property_detail_form input[type="submit"]:hover,
.kf_property_detail_form input[type="text"]:focus,
.kf_property_detail_form textarea:focus,
/*404 Page Page Css*/
/*Submit Property Page Css*/
/*ShortCode CSS*/
.kf_link_2:hover
/*Login Page Css*/
/*Header 3 Css Wrap*/
/* Gallery Wrap Start */
{
	border-color:#f6911e;	
}
/*
	  ============================================================
		   Triangle Border  Color
	  ============================================================
*/
/*Reviews of the Client Wrap Css*/
.kf_client_review_slider .item:hover .kf_pet_testi_3::before
/*property Listing 04 Wrap CSS*/
{
	border-color:#0070bb transparent transparent;	
}